<article class = "w-full h-[300px] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xxs:px-0">
    <header class="text-center absolute top-0 z-10 opacity-60 pt-6">
<span class = "block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Passionate Young Programmer</span>
<span class = "block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Crafting digital dreams with</span>
<span class = "block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">code wizardy.</span>
<!-- <img src="/image1.png" alt="#" class="object-cover relative h- [900px] object-top 1g:-bottom- [50%] 1g:w- [800px] md: w- [1000px] md:-bottom-[40%]
xxs:-bottom-[30%] xs:w-[1500px] xs:-bottom- [10%] "> -->
    </header>
</article>